/*Font settings*/
* {
    font-family: Fantasque Sans Mono;
    font-size: 15px;
    color: #424242;
}

window {
    color: #eeeeee;
    margin: 15px 15px 15px 15px;
    border-radius: 12px;
	background-color: rgba(171, 233, 179, 0.95);
}

/* search entry */
entry {
    background-color: rgba (0, 0, 0, 0.06);
    border: 2px solid #9d03fc;
}

button {
    background: none;
    background-color: rgba (171, 233, 179, 0.95);
    color: #424242;
    border: solid 2px #abe9b3;
    border-radius: 0;
}


button:hover {
    border-color: #f02462;
    border-width: 2px 0px 2px 0px;
    border-style: dashed;
}

image {
    border: none;
    background-color: rgba (171, 233, 179, 0.95);
    color: rgba(171, 233, 179, 0.95);
}

image:hover {
    color: rgba(242, 143, 173, 0.97);
    background-color: rgba (242, 143, 173, 0.97);
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #9d03fc;
    background-color: rgba (171, 233, 179, 0.95);
    color: #141414;

}

#category-button:hover, #category-button:focus {
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #f02462;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px;
}
